/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #212121;
  color: var(--secondary);
  --primary: #FFBD59;
  --secondary: #E6C591; 
  --wait: #9b9b9b;
  --back: #e6c5911b;
  --slider-bg: #E6C591; /* Secondary color */
  --slider-connect-bg: #FFBD59; /* Primary color */
  --slider-handle-bg: #FFBD59; /* Primary color */
  --slider-tooltip-bg: #ffbd592a; /* Primary color */
  --slider-tooltip-color: #FFBD59; /* White text color */
  --slider-tooltip-arrow-size: 5px;
  --slider-tooltip-distance: 3px;
  --slider-handle-border: 0;
  --slider-handle-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,0.32);
  --slider-handle-shadow-active: 0.5px 0.5px 2px 1px rgba(0,0,0,0.42);
  --slider-handle-ring-width: 3px;
  --slider-handle-ring-color: #FFBD5930; /* Semi-transparent primary color */
  --slider-tooltip-bg-disabled: #9CA3AF;
  --slider-tooltip-color-disabled: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hover-underline-animation {
  position: relative;
  text-decoration: none;
  color: var(--wait);
}

.hover-underline-animation::after {
  color: var(--secondary);
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: #FFBD59;
  transition: width 0.4s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
}

.hover-underline-animation:hover::after {
  color: var(--secondary);
  width: 100%;
}

.hover-underline-animation:hover {
  color: var(--secondary);
}

.hover-underline-animation-r {
  position: relative;
  text-decoration: none;
  color: var(--wait);
}

.hover-underline-animation-r::after {
    color: var(--secondary);
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin: 0 auto;
    background: #ff402b;
    transition: width 0.4s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
}

.hover-underline-animation-r:hover::after {
    color: rgb(255, 57, 57);
    width: 100%;
}

.hover-underline-animation-r:hover {
    color: rgb(255, 57, 57);
}

.th-p-btn {
  align-items: center;
  background-color: #ffbd59;
  border: 2px solid #ffbd59;
  box-sizing: border-box;
  color: #1e1e1e;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  /* min-width: 140px; */
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.th-p-btn:hover {
  background-color: #ffbd59df;
  border-color: #ffbd59;
}

.th-p-btn:active {
  background-color: #ffbd59df;
  border-color: #ffbd59;
}

.th-s-btn {
  align-items: center;
  border: 2px solid #ffbd59;
  box-sizing: border-box;
  color: var(--secondary);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  /* min-width: 140px; */
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.th-s-btn:hover {
  border-color: #ffbd59df;
  color: #E6C591;
  fill: #ffbd59df;
}

.th-s-btn:active {
  border-color: #ffbd59df;
  color: #E6C591;
  fill: #ffbd59df;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  outline: 0;
}

.form__field {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  outline: 0;
}

.form__field::placeholder {
  color: transparent;
  outline: 0;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
  outline: 0;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  outline: 0;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 2px;
  border-image: linear-gradient(#FFBD59,#FFBD59);
  border-image-slice: 1;
  outline: 0; /* Ensure no blue outline */
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #E6C591;
  outline: 0;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
  outline: 0;
}

* Additional specific styling to override blue outline */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #212121 inset !important;
  -webkit-text-fill-color: #fff !important;
}

input,
textarea,
select {
  outline: none; /* Ensure no blue outline */
  box-shadow: none; /* Ensure no box-shadow outline */
}

input:focus,
textarea:focus,
select:focus {
  outline: none; /* Ensure no blue outline */
  box-shadow: none !important; /* Override any box-shadow */
}

@media (min-width: 768px) {
  /* .th-p-btn {
    min-width: 170px;
  }

  .th-s-btn {
    min-width: 170px;
  } */
}

.container {
  cursor: pointer;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: var(--primary);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.btn-custom {
  color: rgb(255, 189, 89);
}

.rectangle-pagination {
  width: 20px; 
  height: 8px; 
}

.close-icon {
  position: relative;
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}

.close-icon::before,
.close-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px; /* Adjust thickness as needed */
  background-color: #FFBD59; /* Color for the close icon */
  top: 50%;
  left: 0;
  transform-origin: center;
}

.close-icon::before {
  transform: rotate(45deg);
}

.close-icon::after {
  transform: rotate(-45deg);
}
